<div
  class="navbar container-fluid d-flex justify-content-between aling-item-center"
>
  <div class="set1 px-5"><h1>LOGO</h1></div>
  <div class="set2 px-2">
    <input
      type="search"
      name=""
      id=""
      placeholder="Search by title, author and keyword..."
    />
    <i class="fa-solid fa-magnifying-glass px-4"></i>

    <span class="px-5">Filter Search</span>
  </div>
  <div class="set3 px-5 justify-content-end">
    <i class="fa-regular fa-heart"></i>
    <span class="mx-1">Book Favorites</span>
    <h2 class="text-light">|</h2>
    <i class="fa-solid fa-cart-shopping"></i>
    <span class="mx-1">purchase</span>
  </div>
</div>
